body {
  background: #2f2f2e;
  font-family: "Montserrat", sans-serif;
}
.App {
    background: #2f2f2ef5;
    min-height: 90vh;
    margin: 20px 70px;
    padding: 10px;
    border-radius: 10px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(252,250,248);
}
h1 {
  font-size: 50px;
  letter-spacing: .9rem;
  word-spacing: 1rem;
  text-shadow: 9px 8px 5px rgb(252,250,248, .5);
  margin-bottom: 10px;
  color: rgb(248,10,81);
}
h3 {
  font-size: 20px;
  font-weight: normal;
  word-spacing: .2rem;
}
.search {
  font-size: 17px;
  font-weight: lighter;
  color: #2f2f2e;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  width: 50%;
}
button {
  font-size: 20px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(248,10,81);
  background: #2f2f2e;
  box-shadow: 0px 0px 10px 4px rgb(252,250,248, .9);
  letter-spacing: .5rem;
  transition: ease-in all .7s;
}
button:hover {
  color: rgb(252,250,248);
  background: rgb(248,10,81);
  letter-spacing: .4rem;
  box-shadow: 0px 0px 8px 3px rgb(252,250,248, .9);
}
.icon {
  width: 18px;
  margin-right: 10px;
}
.list {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 95%;
}
h2 {
  color: rgb(246, 114, 154);
  font-size: 28px;
  letter-spacing: .5rem;
  word-spacing: .2rem;
  text-shadow: 5px 5px 3px rgb(252,250,248, .3);
}
.spanOne {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: .1rem;
  text-shadow: none;
}
.recipe {
  border: 2px solid rgb(250, 182, 202);
  border-radius: 10px;
  margin: 80px;
  padding: 30px;
  box-shadow: 5px 10px 30px 1px rgb(252,250,248, .5);
}
.headerThree {
  margin: 10px 0px 5px 0px;
  color: rgb(250, 182, 202);
}
.image {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 10px 30px 1px rgb(252,250,248, .5);
}
.top {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.subTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgb(252,250,248);
}
.left {
  width: 95%;
  margin-left: 40px;
}
.sub {
  align-self: flex-start;
}
.container h3 {
  width: 700px;
}

@media all and (max-width: 950px)  {
  .top {
    flex-direction: column;
  }
  .App {
    margin: 20px;
  }
  h1 {
    letter-spacing: .5rem;
  }
  .subTop {
    width: 90%;
  }
  .recipe {
    margin: 80px 10px;
    padding: 10px;
  }
  .container h3 {
    width: 90%;
  }
}

@media all and (max-width: 550px) {
  .image {
    width: 250px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
    letter-spacing: .1rem;
  }
  h3 {
    font-size: 17px;
  }
  .App {
    margin: 5px;
  }
  .search {
    width: 80%;
  }
}

@media all and (max-width: 400px) {
  .image {
    width: 220px;
  }
  h1 {
    letter-spacing: .3rem;
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .spanOne {
    letter-spacing: .1rem;
  }
}

@media all and (max-width: 300px) {
  .image {
    width: 180px;
  }
  h1 {
    letter-spacing: .1rem;
    font-size: 35px;
  }
}